$toppad: 20px;
$bigpad: 80px;
$smlpad: 5px;
html {
    background: linear-gradient(to top left, black, rgb(46, 46, 46));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Afacad', sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
.root {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}
.main-window {
    align-items: center;
    background: linear-gradient(to bottom right, slategray, black);
    border: 1px solid rgb(128, 0, 128, 0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(125, 26, 138, 0.4);
    display: flex;
    flex-flow: column nowrap;
    height: 90vh;
    justify-content: space-around;
    padding: $toppad 30px;
    width: 400px;
}
#date-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;

    #date-elem {
        color: white;
        font-weight: lighter;
        margin: 0px;
    }
}
.history {
    box-shadow: 0px 0px 12px rgba(15, 15, 15, 0.77);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 4px;
    text-align: center;

    background: linear-gradient(
        to top left,
        rgba(128, 128, 128, 0.6),
        rgba(0, 0, 0, 0.2)
    );
    h5 {
        font-weight: lighter;
        margin: 4px;
    }
}
.gallery-icons {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: $toppad;

    .icon {
        padding: $smlpad;
        width: 52px;
    }
}
.picker {
    margin-top: $toppad;
}
.user-input {
    padding: $toppad;
}
.btn {
    border-radius: 10px;
    padding: 10px $toppad;

    &:hover {
        color: white;

        background: linear-gradient(
            to top right,
            rgb(199, 124, 227),
            rgb(109, 33, 153)
        );
    }
}
.status {
    border: 1px solid black;
    border-radius: 5px;
    font-style: italic;
    font-weight: 100;
    padding: 10px 40px;

    background: linear-gradient(
        to top left,
        rgba(128, 128, 128, 0.6),
        rgba(0, 0, 0, 0.2)
    );
    p {
        color: white;
        text-align: center;
    }
}

.indicator-order {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0px 15px;
}
